<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><ui:insert name="titulo">Financeiro</ui:insert></title>
	<h:outputStylesheet library="css" name="estilo.css"/>
	<style type="text/css">
	<!--
	#logotipo{
		text-align: right;
		float: right;
	}
	-->
	</style>
</h:head>
<h:body>
<div id="container">
	<div id="titulo">
		<ui:insert name="titulo">Financeiro</ui:insert>
	</div>
	<div id="logotipo">
		<h:graphicImage library="imagens" name="logotipo_m.png" />
	</div>
	<div id="barra_menu">
		<ui:insert name="barra_menu">
			<ui:include src="/restrito/menu_sistema.xhtml" />
		</ui:insert>
	</div>
	<div id="corpo">
		<ui:insert name="corpo"/>
	</div>
	<div id="rodape">
		<ui:insert name="rodape">
			<ui:include src="/publico/rodape.xhtml" />
		</ui:insert>
	</div>
</div>
</h:body>
</html>
	
	