<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<ui:composition template="/templates/interna.xhtml">

<ui:define name="titulo">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Cadastro de Contas</title>
</ui:define>
	
<ui:define name="corpo">
	
	<h1>Cadastro de Contas</h1>
<h:form id="edicao">
<h:messages />
<h:inputHidden value="#{contaBean.selecionada.conta}" />
<h:inputHidden value="#{contaBean.selecionada.favorita}" />
<h:panelGrid columns="2">

	<h:outputLabel value="Descrição: " for="descricao" />
	<h:inputText id="descricao" value="#{contaBean.selecionada.descricao}" required="true" maxlength="45" />
	
	<h:outputLabel value="Saldo Inicial: " for="saldoInicial" />
	<h:inputText id="saldoInicial" value="#{contaBean.selecionada.saldoInicial}" size="10">
		<f:convertNumber minFractionDigits="2"/>
	</h:inputText>

	<h:commandButton value="Salvar" action="#{contaBean.salvar}">
		<f:ajax execute="@form" render=":edicao :listagem"/>
	</h:commandButton>
</h:panelGrid>
</h:form>

<h:form id="listagem">
	<h:dataTable value="#{contaBean.lista}" var="conta" rendered="#{not empty contaBean.lista}">
	<h:column>
		<f:facet name="header">Descrição</f:facet>
			#{conta.descricao}
	</h:column>
	<h:column>
		<f:facet name="header">DataCadastro</f:facet>
			<h:outputText value="#{conta.dataCadastro}">
	 			<f:convertDateTime dateStyle="medium" />
			</h:outputText>
	</h:column>
	<h:column>
		<f:facet name="header">Saldo Inicial</f:facet>
		<h:outputText value="#{conta.saldoInicial}" style="text-align: right; display:block;">
			<f:convertNumber minFractionDigits="2"/>
		</h:outputText>
	</h:column>
	<h:column>
		<h:commandLink action="#{contaBean.tornarFavorita}">
			<f:ajax execute="@this" render=":listagem"/>
			<h:graphicImage library="imagens" name="favorita16_#{conta.favorita}.png"/>
			<f:setPropertyActionListener value="#{conta}" target="#{contaBean.selecionada}"/>
		</h:commandLink>
	</h:column>
	<h:column>
		<h:commandLink>
			<f:ajax execute="@this" render=":edicao"/>
			<h:graphicImage library="imagens" name="editar16.png"/>
			<f:setPropertyActionListener value="#{conta}" target="#{contaBean.selecionada}"/>
		</h:commandLink>
	</h:column>
	<h:column>
		<h:commandLink action="#{contaBean.excluir}">
		<f:ajax execute="@this" render=":listagem"/>
		<h:graphicImage library="imagens" name="excluir16.png"/>
		<f:setPropertyActionListener value="#{conta}" target="#{contaBean.selecionada}"/>
		</h:commandLink>
	</h:column>
	</h:dataTable>
</h:form>
</ui:define>


</ui:composition>	
</html>