﻿<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<ui:composition template="/templates/externa.xhtml">
<ui:define name="corpo">

	<h1>Gerenciador Financeiro Pessoal</h1>
	
	Usuário logado #{request.remoteUser} 
	<br />
	<h:form>
		<h:commandButton value="Conta" action="/restrito/conta"/>
		
		<h:selectOneMenu value="#{contextoBean.contaAtiva.conta}"
		valueChangeListener="#{contextoBean.changeContaAtiva}"
		rendered="#{not empty contextoBean and not empty contextoBean.contaAtiva}"
		onchange="submit()">
			<f:selectItems value="#{contaBean.lista}"
			var="conta" itemValue="#{conta.conta}" itemLabel="#{conta.descricao}"/>
		</h:selectOneMenu>
	
		<h:panelGroup rendered="#{request.isUserInRole('ROLE_ADMINISTRADOR')}">
			<h:commandLink action="/admin/principal" title="Administrativo">
				<h:graphicImage library="imagens" name="administrativo16.png" />
			</h:commandLink>
		</h:panelGroup>

		<a
			onclick="document.location='#{request.contextPath}/j_spring_security_logout'"
			title="Sair"> <h:graphicImage library="imagens"
				name="logout16.png" />
		</a>
	</h:form>

</ui:define>
</ui:composition>
</html>
